.one1UlTwo,.one2DivOne,.JournalismHead{
	background-color:purple; 
}
.one1UlTwo li:hover,.one2 li:hover{
	color: #444;
}
.commodityUlOne,.commodityUlTwo,
.commodityThree,.one4DivOne{
	color: purple;
}